<div id="<%= dom_id todo %>">
  <p>
    <strong>Title:</strong>
    <%= todo.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= todo.body %>
  </p>

  <p>
    <strong>Completed:</strong>
    <%= todo.completed %>
  </p>

  <p>
    <strong>Deadlined at:</strong>
    <%= todo.deadlined_at %>
  </p>

</div>
